.photo-grid {
  margin: auto;
  padding-top: 92px;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px;
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, fit-content(300px));
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, fit-content(352px));
    max-width: 720px;
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 425px) and (min-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, fit-content(288px));
    max-width: 288px;
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 12px;
  }
}
