.header__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  min-width: 80px;
  justify-content: center;
  column-gap: 18px;
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  align-items: end;
}

@media screen and (max-width: 420px) and (min-width: 320px) {
  .header__links {
    min-width: 62px;
  }
}
