.header__links {
  display: flex;
  margin: 0;
  min-width: 80px;
  align-items: flex-end;
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}

@media screen and (max-width: 420px) and (min-width: 320px) {
  .header__links {
    min-width: 62px;
  }
}
