.place__image {
  min-width: 460px;
  max-height: 460px;
  object-fit: cover;
  box-sizing: border-box;
  padding-top: 48px;
}

@media screen and (max-width: 1024px) {
  .place__image {
    min-width: 340px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    min-width: 340px;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    min-width: 320px;
  }
}
